# Ignore everything...
*

# ... except preferences
!.gitignore
!README.md
!Preferences.sublime-settings
!Package Control.sublime-settings
!*.sublime-keymap
!*.sublime-settings
!*.sublime-snippet




sublemacspro_isearch_history.sublime-settings
